.timeslot {
    border: 0.05px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 65vw;
    margin: 1px;
    margin-left: 5vw;
}
#time {
    width: 100px
}
.timeslot p {
    width: 200px;
}
h4 {
    font-size: 30px;
}
.date {
    margin: 15px 15vw;
    display: flex;
    justify-content: space-between
}