#app {
  background-color: white;
  background-image: url('./components/images/injury_image.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 270px;
  height: 100vh
}


