.logo {
    height: 200px;
    background-image: url('./../images/Logo.PNG');
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    /* background-size: contain */
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: gold;
    height: 28px;
    font-size: 24px;
    list-style: none;
}
.drop-content {
    height: 26px;
    overflow:hidden;
    transition: 1s;
    background-color: gold;
    z-index: 10;
}
ul li{
    margin-top: 10px
}
li { 
    margin: 2px 2px
}
.drop-content:hover {
    height: 140px;
}
#login {
    float: right;
    margin-right: 3vw;
    margin-top: 4vh;
    height: 35px;
    width: 60px;
    border-radius: 5px
}